* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 95%;
  height: 95%;
  background-color: white;
  border: 1px solid black;
}

#pageContainer {
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  padding: 30px 0 0 30px;
}

#title {
  font-size: 100px;
  color: black;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

#webDev {
  margin-bottom: 30px;
  color: black;
  padding-left: 7px;
}

#headerLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: x-large;
}

#headerLinks > a {
  text-decoration: none;
  color: black;
  position: relative;
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100%;
}

#headerLinks > a::before {
  opacity: 0;
}

#headerLinks > a.active::before {
  /* transition: all 1s ease-in; */
  content: "";
  opacity: 1;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  display: block;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: 0px;
  animation: opacityAnimation 0.7s ease-in;
}

.hide {
  opacity: 0;
  transition: all 0.1s ease-in;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
