* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

body {
  width: 95%;
  height: 95%;
  background-color: black;
  border: 1px solid white;
}

#pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

#header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  padding: 30px 0 0 30px;
}

#title {
  font-size: 80px;
  color: white;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

#webDev {
  margin-bottom: 30px;
  color: white;
  padding-left: 7px;
}

#headerLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: x-large;
}

#headerLinks > a {
  text-decoration: none;
  color: white;
  position: relative;
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100%;
}

#headerLinks > a::before {
  opacity: 0;
}

#headerLinks > a.active::before {
  /* transition: all 1s ease-in; */
  content: "";
  opacity: 1;
  height: 15px;
  width: 15px;
  border: 1px solid white;
  display: block;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: 0px;
  animation: opacityAnimation 0.7s ease-in;
}

.hide {
  opacity: 0;
  transition: all 0.1s ease-in;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#pageContent {
  width: 70%;
  height: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  /* border: 1px solid white; */
}

/* ABOUT PAGE */

#aboutContainer {
  grid-area: 2 / 2 / 5 / 5;
  visibility: hidden;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  transition: visibilty 0.5s ease-in-out;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "profilePic aboutInfo"
    "haskellPic aboutInfo";
  height: 100%;
  width: 100%;
}

#haskellContainer {
  grid-area: haskellPic;
  width: 100%;
  height: 100%;
  padding: 10px;
}

#haskellImg {
  width: 100%;
  height: 90%;
  border: 1px solid white;
  border-radius: 3px;
}

#haskell {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#imgCredit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  height: 10%;
  width: 100%;
  color: white;
}

#aboutInfo {
  grid-area: aboutInfo;
  padding: 10px;
  color: white;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 34px;
  font-weight: 900;
  line-height: 47px;
}

#profilePic {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

#profilePic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  border-radius: 3px;
}

/* RESUME PAGE */

#resumeContainer {
  grid-area: 2 / 2 / 5 / 5;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 0.5fr;
  grid-column-gap: 7px;
  grid-row-gap: 5px;
  grid-template-areas: "column1 column2 column3" "row2 row2 row2";
}

#resumeColumn1 {
  grid-area: column1;
  width: 100%;
  /* height: 80%; */
}

#resumeColumn2 {
  grid-area: column2;
  width: 100%;
  /* height: 80%; */
}

#resumeColumn3 {
  grid-area: column3;

  width: 100%;
  /* height: 80%; */
}

#resumeRow2 {
  grid-area: row2;

  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 900;
  border-radius: 10px;
  color: white;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

#resumeRow2 > a {
  text-decoration: none;
  color: white;
}

#resumeRow2 > a:hover {
  border: rgba(255, 255, 255, 0.5);
}

.resumeColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 5px;
  color: white;
  gap: 20px;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

.resumeColumn > h2 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
}

.resumeColumn > ul {
  font-size: 30px;
  list-style: none;
}

.resumeColumn > ul > li {
  margin-bottom: 20px;
}

/* CONTACT PAGE */

#contactContainer {
  grid-area: 1 / 1 / 6 / 6;
  visibility: hidden;
  /* display: flex; */
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  display: grid;
  grid-template-columns: 1fr 1.3fr 0.7fr;
  grid-template-rows: 1fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". contactTitle ."
    ". contactForm ."
    ". . contactInfo";
}

#contactTitle {
  grid-area: contactTitle;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: white;
}

#contactInfo {
  grid-area: contactInfo;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-size: 18px;
}

#contactInfo > h1 {
  font-size: 40px;
  font-weight: 900;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  color: white;
}

#contactInfo > p {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 800;
  color: white;
}

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  grid-area: contactForm;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  gap: 10px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  color: white;
  font-weight: 900;
  border-radius: 15px;
  /* box-shadow: -1px 1px 9px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 9px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 1px 9px 1px rgba(0, 0, 0, 0.3); */
}

#contactForm > h2 {
  font-size: 21px;
  font-weight: 900;
  display: flex;
  width: 90%;
  text-align: start;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

#contactForm > input {
  width: 90%;
  border: 1px solid white;
  height: 35px;
}

#contactForm > textarea {
  width: 90%;
}

#contactForm > label {
  font-size: 20px;
  display: flex;
  width: 90%;
  text-align: start;
  font-family: "Alumni Sans Pinstripe", sans-serif;
}

/* PROJECTS PAGE */

#projectsContainer {
  grid-area: 2 / 2 / 5 / 5;
  visibility: hidden;
  display: flex;
}

#projectsTitle {
  display: none;
}

section {
  display: block;
  width: 90%;
  height: 500px;
  margin-top: 100px;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  list-style: none;
}

.slide > a > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* .slide > iframe {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
} */

.slide[data-active] {
  opacity: 1;
  z-index: 2;
}

.carousel-button {
  position: absolute;
  z-index: 3;
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid white;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

@media (max-width: 796px) {
  html {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  #pageContainer {
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-auto-columns: 1fr; */
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: 1.5fr 1.8fr;
    gap: 0px 0px;
    grid-template-areas:
      "header content1"
      "header2 content1";
  }

  body {
    width: 95%;
    height: 95%;
    max-width: 95%;
    max-height: 95%;
  }

  #header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px;
    height: 100%;
    width: 100%;
  }

  #title {
    font-size: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  #webDev {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
  }

  #headerLinks {
    margin: 0;
    font-size: 18px;
    gap: 5px;
  }

  #pageContent {
    margin: 0;
    grid-area: content1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "content";
  }
  /* ABOUT PAGE */
  #aboutContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    grid-area: content;
  }

  #aboutInfo {
    /* grid-area: content2; */
    font-size: 18px;
    line-height: normal;
    display: block;
    padding: 0;
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
  }

  #haskellContainer {
    /* grid-area: titles; */
    width: 100%;
    height: 30%;
    object-fit: cover;
    display: block;
  }

  #imgCredit {
    font-size: 6px;
  }

  #profilePic {
    /* grid-area: content1; */
    width: 100%;
    height: 30%;
    object-fit: cover;
    display: block;
  }
  /* CONTACT PAGE */
  #contactContainer {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  #contactTitle {
    /* grid-area: titles; */
    width: 100%;
    height: 20%;
    margin: 0;
    font-size: 1em;
  }

  #contactForm {
    font-size: 1em;
    margin: 0;
    width: 100%;
    height: 50%;
    /* grid-area: content2; */
  }

  #contactInfo {
    font-size: 1em;
    margin: 0;
    width: 100%;
    height: 25%;
    /* grid-area: footer2; */
  }

  /* RESUME PAGE */
  #resumeContainer {
    display: flex;
    flex-direction: column;
    grid-area: content;
    justify-content: space-evenly;
  }

  #resumeRow2 {
    height: 20%;
  }

  .resumeColumn {
    height: auto;
  }

  .resumeColumn > ul {
    font-size: 16px;
  }

  .resumeColumn > ul > li {
    margin-bottom: 0;
  }

  .resumeColumn > h2 {
    margin: 0;
    font-size: 30px;
  }
  /* PROJECTS PAGE */
  #projectsContainer {
    grid-area: content;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #projectsTitle {
    display: block;
    color: white;
    font-size: 3em;
    font-family: "Alumni Sans Pinstripe", sans-serif;
  }

  .carousel {
    height: 40%;
    padding: 10px;
    margin-right: 10px;
  }
}
