* {
  box-sizing: border-box;
}
@media (min-width: 500px) {
  /* html {
    width: 100vw;
    height: 100vh;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  } */

  body {
    width: 95%;
    height: 95%;
    background-color: black;
    border: 1px solid white;
  }

  #pageContainer {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header pagecontent";
  }

  #header {
    grid-area: header;
    max-height: 100%;
  }

  #headerTitle {
    font-size: 25px;
    color: white;
  }
  #headerLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: x-large;
  }

  #headerLinks > a {
    text-decoration: none;
    color: white;
    position: relative;
    cursor: pointer;
  }

  canvas {
    width: 100%;
    height: 100%;
  }

  #headerLinks > a::before {
    opacity: 0;
  }

  #headerLinks > a.active::before {
    /* transition: all 1s ease-in; */
    content: "";
    opacity: 1;
    height: 15px;
    width: 15px;
    border: 1px solid white;
    display: block;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    bottom: 0px;
    animation: opacityAnimation 0.7s ease-in;
  }

  .hide {
    opacity: 0;
    transition: all 0.1s ease-in;
  }

  @keyframes opacityAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  section {
    display: block;
    width: 90%;
    height: 500px;
    margin-top: 100px;
  }

  .carousel {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .carousel > ul {
    margin: 0;
    padding: 0;
  }

  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    list-style: none;
  }

  .slide > a > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  /* .slide > iframe {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  } */

  .slide[data-active] {
    opacity: 1;
  }

  .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .carousel-button:hover,
  .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .carousel-button:focus {
    outline: 1px solid white;
  }

  .carousel-button.prev {
    left: 1rem;
  }

  .carousel-button.next {
    right: 1rem;
  }

  #pageContent {
    grid-area: pagecontent;
    width: 100%;
    height: 100%;
    display: flex;
  }
}
